
html, body {
    height: 100%;
}

#map {
    height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.btn:hover {
    background-color: #f4f4f4;
}


.btn {
    font-size: 15px;
    background-color: white;
    padding-left: 8px;
    height: 30px;
    padding-top: 4px;
}

.btn-france{
    padding-top: 2px;
    padding-left: 6px;
}

.btn-group-vertical{
    margin-top: 10px;
    margin-left: 10px;

    width: 34px;
    margin-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 4px;
}

.btn-group-first{
    border-radius: 4px 4px 0px 0px;
}

.btn-group-last{
    margin-top: -2px;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 15px;
    height: 15px;
    margin-left: -10px;
    margin-top: -10px;

    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    font: 8px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 15px;
}

.marker-cluster-small div {
    background-color: rgba(176, 190, 197, 0.7);
}

.marker-cluster-medium div {
    background-color: rgba(84, 110, 122, 0.7);
}

.marker-cluster-large {
    background-color: rgba(55, 71, 79, 0.7);
}

.marker-cluster-large div {
    background-color: rgba(38, 50, 56, 0.7);
}

/*
    DIVERGING STACKED CHART
 */
.axis {
    pointer-events: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis.zero line {
    stroke: #808080;
    stroke-width: 1;
}
.axis.tick text {
    color: black;
}

.legendbox {
    height: 16px;
    line-height: 16px;
}
.legendbox .legend {
    position: relative;
    display: inline-block;
    padding-right: 16px;
}
.legendbox .legend .rect {
    display: inline-block;
    width: 32px;
    height: 16px;
    margin: 0; padding: 0;
}
.legendbox .legend .label {
    display: inline-block;
    transform: 			translateY(-20%);
    font: "10px sans-serif";
    margin-left: 8px;
    position: relative;
    color: black;
}

#stacked-chart-div {
    margin: auto;
    height: 850px;
}

div.tooltip {
    font-size: 10px;
    position: absolute;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    z-index: 10000;
}

/* D3 Chart */
.bar-chart-hover {
    opacity: 0.5;
}

th {

    text-align: center;

}
